version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: dadpars_db
      POSTGRES_USER: dadpars_user
      POSTGRES_PASSWORD: dadpars_password_1403
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    restart: unless-stopped

  web:
    build: .
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             gunicorn --bind 0.0.0.0:8000 dadpars_site.wsgi:application"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DEBUG=0
      - DATABASE_URL=postgres://dadpars_user:dadpars_password_1403@db:5432/dadpars_db
      - ALLOWED_HOSTS=localhost,127.0.0.1,37.32.13.22
    restart: unless-stopped

volumes:
  postgres_data:
  static_volume:
  media_volume:
